
@{
    ViewData["Title"] = "AboutUs";
}

<h1>AboutUs</h1>

<h1>Large hello Logo</h1>

    <div>
        <ol>
            <li>
                Welcome Statment
            </li>
            <li>
                Company Profile
            </li>
            <li>
                What we do
            </li>
            <li>
                Careers
            </li>
            <li>
                Being Green
            </li>
            <li>
                Meet the team
            </li>


        </ol>


        <p>image for curries print centre</p>

        <p>Curries Print Centre is a family run commercial Litho and digital printers. For over 35 years we have been meeting the printing needs of the Lothian's, Scotland and the UK with our personal and professional service. We provide full graphic design, print and marketing services for our customers from Large Organisations, Small Businesses, Charities and the members of the public</p>
    
        <p>We strive to take the stress off your project even under tight turnaround schedules Talk you through your options on your design brief to work out your most cost effective options. Design from Brief or existing artwork. Produce the highest quality products in a competitive market. Go the extra mile for our customers to be unique in their sector.</p>
    

        <ul>
            <li>20 employees</li>
            <li>318 clients</li>
            <li>500 likes</li>
        </ul>


    </div>