
@{
    ViewData["Title"] = "Bespoke";
}

<h1>Bespoke</h1>

<p>bespoke yellow image - full width</p>


<p>2 x 2 grid</p>
<p>image - text</p>
<p>text - image </p>
<p>image -text</p>


<h2>WALLPAPER</h2>
<p>Here at Currie's we offer a range of bespoke products but absolutely love our custom wallpapers. Printed with UV Latex inks on a slightly textured wallpaper you can get the design or picture you've always wanted for your feature wall. We have produced many of these for colleges, car garages, offices and customers homes. All we need is the artwork provided to the size of the wall, remember to take into account any doors or furniture which might obsure your graphic. If you have difficulty in producing a design contact us through our contact page and ask about our wallpaper design service.</p>
<button type="button">Button text</button>